/target
/target-*
/dist/
/docs/benchmarks/*.txt
/docs/benchmarks/*.snapshot
Cargo.lock
*.swp
*.swo
.DS_Store
/keys/
/docs/mbr-data.md
/archive/
chr-license-data.md
chr-system-id-formula.md
keys.toml
keys.toml.zip
keys.unreachable.toml
keys.blacklisted.toml
/backup/
/logs/
/sc/
/tests/
keys.full.toml
